{
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-object-assign",
        "react-hot-loader/babel"
    ],
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 2 versions"]
                },
                "modules": false,
                "loose": true,
                "useBuiltIns": true,
                "debug": false
            }
        ],
        "flow"
    ]
}
