[Unit]
Description=Deploy Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/engage
ExecStart=/home/engage/deploy-bot
Restart=on-abort

[Install]
WantedBy=multi-user.target
