@import 'variables.scss';

.button {
    transition: all 0.2s ease;
    font-size: 1rem;
    font-weight: 200;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: $color-tertiary-shade-4;
    border: none;
    cursor: pointer;
    margin: 2rem 3rem 0.2rem 3rem;
    width: 300px;
}

.button:hover {
    background-color: $color-tertiary-shade-3;
    box-shadow: 0.2rem 0.2rem 0.4rem #d6d5d5;
}
