.profile {
    display: flex;
}

.avatar {
    flex-flow: column;
    text-align: center;

    div {
        padding: 1rem 0 1rem 0;
    }
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin: 0.5rem 0 0.5rem 0;
    }
}
