.activities {
    display: flex;
    justify-content: space-between;
}

.activity {
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

.comment .time-stamp {
    color: silver;
}

.modal {
}

.modal-body {
}

.modal-header {
    display: flex;
}

.close-button {
    margin-left: auto;
}
