.navigation-bar {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin-bottom: 2rem;
}

.messenger {
    display: flex;
}

.channels {
    margin-right: 3rem;
}

.conversation {
}

.main {
    padding: 1rem;
}

.activities {
    display: flex;
    justify-content: space-between;
}

.activity {
    text-align: center;
    border-radius: 50%;
    border-width: 0;
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

.conversation .time-stamp {
    color: silver;
}

.modal {
}

.modal-body {
}

.modal-header {
    display: flex;
}

.close-button {
    margin-left: auto;
}
