@import 'variables.scss';

.recent-sessions {
    padding: 3rem;
    text-align: center;
}

.sessions {
    display: flex;
    justify-content: space-around;
    margin: 0 2rem 2rem 2rem;
    padding: 1rem;
}

@media (max-width: 820px) {
    .sessions {
        flex-wrap: wrap;
    }

    .recent-sessions {
        h1 {
            margin: 0;
        }
    }
}

.title {
    font-size: 2rem;
    margin: 3rem 3rem 0 3rem;
    color: $color-tertiary-shade-3;
}
