/* Purple */
$color-purp: #5e35b1;
/* Orange */
$color-orangutan: #cffcc9;
/* Grays */
$color-titanium: #b3b3b3;
$color-silver: #d6d5d5;
$color-platinaum: #efefef;
$color-hydrogen: #f5f5f5;

$color-tomato-red: #ce4015;

/* Colors */
$color-primary: $color-purp;
$color-primary-tint-1: color($color-purp tint(15%));
$color-primary-tint-2: color($color-purp tint(40%));
$color-primary-shade-1: color($color-purp shade(15%));

$color-secondary: $color-orangutan;
$color-secondary-tint-1: color($color-orangutan tint(12%));
$color-secondary-tint-2: color($color-orangutan tint(24%));
$color-secondary-shade-1: color($color-orangutan shade(12%));

$color-tertiary: $color-silver;
$color-tertiary-shade-1: $color-titanium;
$color-tertiary-shade-2: color($color-titanium shade(12%));
$color-tertiary-shade-3: $color-platinaum;
$color-tertiary-shade-4: $color-hydrogen;

$color-error: $color-tomato-red;
